# yii console commands
/yii
/yii_test
/yii_test.bat
/yii.bat

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings
/composer.json
/composer.lock
/composer-setup.php

# windows thumbnail cache
Thumbs.db

# composer vendor dir
vendor/
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant

# config
/frontend/config
/backend/config
/common/config
frontend/config
backend/config
common/config
/confsite/config


# web
backend/web/

/backend/web
/frontend/web
/confsite/web
backend/web/
frontend/web/
confsite/web/
student/web/

#uploaded

upload/
